body{
    background-image: url('https://res.cloudinary.com/wahlly/image/upload/v1616236551/pexels-quintin-gellar-313782_mfe6ih.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh; 
}

header {
    width: 100%;
    height: 70px;

}

ul {
    list-style-position: none;
    margin-left: 13%;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
}

li {
    display: inline-block;
    /* margin-left: 3%; */
    /* margin-right: 2%; */
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    text-align: center;
    padding-top: 5px;
}

li a{
    text-decoration: none;
    color: white;
}

banner{
    height: 400px;
    width: 100%;
}
.wrapper{
    margin: 0 10%;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

/* about section(fly makes you faster)... */
#innerContainer1 h2{
    color: white;
    font-size: 15px;
    -webkit-text-stroke: 0.05px red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#innerContainer1 > h1{
    -webkit-text-stroke: 1px red;
    color: black;
    font-size: 50px;
}

#homeBtn{
    width: 170px;
    height: 40px;
    border-radius: 20px;
    border: 10px red;
    background-color: red;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    margin-left: 50px;
}


/* section for signup/sigin page...  */

#innerContainer2{
    background-color: rgb(214, 22, 22);
    border-radius: 20px;
    width: 300px;
    height: 350px;
    margin: 0% 15%;
}

.registration {
    padding: 50px;
}

#reg {
    font-family:   'Arial Narrow Bold', sans-serif, 'Times New Roman', Times, serif;
    color: white;
}

#placeholder {
    height: 25px;
    border-radius: 10px;
}

#btn, #btn2 {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: black;
    color: blanchedalmond;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}




/* section for everything about footer...  */

footer {
    height: 150px;
    width: auto;
    padding-bottom: 0px;
    background-color: black;
}

#footer {
    text-align: center;
    color: white;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#email {
    height: 30px;
    width: 200px;
    border-radius: 5px;
}

#subscribeBtn {
    height: 25px;
    width: 80px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-family: cursive;
}
